{% extends 'base.html.twig' %}
{% block body %}
    <h1>Acceuil</h1>

    <a href="{{ path('app_somme',{'A':6 ,'B':7})}}">Somme</a>
    <a href="{{ path('app_sous',{'A':6 ,'B':7})}}">Soustraction</a>


{% endblock %}