{% extends 'base.html.twig' %}
{% block body %}
    <div class="container-fluid">
    <h1>Liste de produits informatique</h1>
    <table id="example" class="table table-striped" style="width:100%">
        <thead>
        <tr>
            <th>Identifiant</th>
            <th>Libellé</th>
            <th>Quantité</th>
            <th>Gamme</th>
        </tr>
        </thead>
        <tbody>
        {% for article in articles %}
            <tr>
                <td>{{ article.id }}</td>
                <td>{{ article.libelle }}</td>
                <td>{{ article.quantite }}</td>
                <td>{{ article.gamme }}</td>
            </tr>
        {% endfor %}
        </tbody>

    </table>
    </div>
{% endblock %}